aiohttp[speedups]==3.9.5
feedparser
pyrogram==2.0.106
tgcrypto
lxml_html_clean
natsort
requests
bs4
motor
dnspython
Pillow
html-telegraph-poster>=0.2.31
pykeyboard==0.1.2
wget>=3.2
youtube-search-python
ujson
git+https://github.com/ytdl-org/youtube-dl
